/* Global CSS Start - for all elements in this application */
/* for all page set margin and padding :0 */
* {
  margin: 0;
  padding: 0;
}

/* Define Variable for color  */
:root {
  --primary-color: #080202;
  --secondary-color: #146c94;
  --light-color: #19a7ce;
  --dark-color: #f6f1f1;
}

/*  Define global css */
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Define CSS for body */
body {
  color: var(--primary-color);
  background-color: var(--dark-color);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

/* Define All H1 CSS */
h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--light-color);
}
/* Global CSS End */

/* Header CSS  Start */

/* header navbar css */
header {
  width: 100%;
  padding: 15px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

/* Rightside h4 - Avani's Portfolio stylesheet */
header h4 {
  margin: 0;
  font-size: 20px;
}

/* navbar <a> css */
header a {
  text-decoration: none;
  color: var(--primary-color);
}

/* navbar ul css */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* navbar li <a> link css */
header nav ul li a {
  padding: 10px 37px;
  font-weight: normal;
}

/* navbar a hover css */
header nav ul li a:hover {
  color: var(--light-color);
}

/* header CSS End */

/* About Me CSS Start */

/* Subsection css */
.sub-section {
  display: flex;
  height: 100%;
  justify-content: center;
}

/* className information CSS */
.information {
  font-size: 16px;
  margin-bottom: 80px;
  margin-right: 40px;
  padding: 10px;
  text-align: justify;
}

/*  h2 CSS */
.information h2 {
  font-size: 30px;
  font-weight: 500;
}

/*  information paragraph CSS*/
.information p {
  font-size: 25px;
  font-weight: 300;
}

/* About me image css */
.headshot-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-left: 100px;
}

.sub-section-alternative h2 {
  text-align: left;
}

/*apply width and border radius to About me image */
.headshot {
  width: 300px;
  border-radius: 150px;
}

/* About me CSS End */

/* Portfolio CSS start */

/* portfolio and container class css */
.portfolio,
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* item class inside container class CSS*/
.container .item {
  width: 350px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid rgb(240, 239, 239);
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

/* inside projectInfo CSS  */
.container .item .projectInfo {
  position: absolute;
  font-size: 30px;
  color: black;
}

/* set github logo color black */
.container .item .projectInfo .logoProject {
  color: black;
}

/* project image css */
.item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  z-index: 1;
}

/* when cursor over image set css */
.container .item:hover img {
  background-color: var(--dark-color);
  opacity: 0.2;
  z-index: 0;
}

/* for anchor in porjectInfo set CSS */
.projectInfo a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.projectInfo h5 {
  font-size: 14px;
}

/* Portfolio CSS END */

/* Contact Form CSS Start */

/* Contact */
.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-size: 20px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 3px solid #cccccc;
  /* outline: none; */
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 600px;
}

input:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.error-text {
  color: red;
  padding-bottom: 20px;
}

.submit {
  width: 80px;
  height: 30px;
  text-align: center;
  border-radius: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.submit:hover {
  color: var(--light-color);
}
/* Contact CSS End */

/* Resume CSS End */

/*apply perperties to DOWNLOAD CV button in main header */
.cvbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.cvbutton a {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 250px;
  height: 45px;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

/*apply peroperty when on mouse hover on button */
.cvbutton a:hover {
  color: var(--light-color);
}

/* Resume CSS Start */

.resumeMainBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumeBody {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
}

.FrontEnd,
.BackEnd {
  align-items: center;
  width: 350px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.column-title {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  font-size: 20px;
  padding: 5px;
}

.column-text ul li {
  list-style: none;
}
/* Resume CSS End */

/* Footer CSS Start */
footer {
  width: 100%;
  padding: 10px;
  width: 100%;
  z-index: 9999;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}

/* Footer ul CSS */
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* Footer h2 CSS*/
footer ul h2 {
  font-size: 20px;
  padding-right: 10px;
}

/*  Footer Logo CSS */
.logo {
  cursor: pointer;
  list-style: none;
  font-size: 30px;
  color: var(--primary-color);
  display: inline-block;
  padding-right: 10px;
}

/*  Footer Logo CSS - when hover over Footer  */
.logo:hover {
  color: var(--light-color);
}
/* Footer CSS Ends */

@media screen and (max-width: 992px) {
}
