/* for all page set margin and padding :0 */
* {
  margin: 0;
  padding: 0;
}

/* Define Variable for color  */
:root {
  --primary-color: #080202;
  --secondary-color: #146c94;
  --light-color: #19a7ce;
  --dark-color: #f6f1f1;
}

/*  Define global css */
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Define CSS for body */
body {
  color: var(--primary-color);
  background-color: var(--dark-color);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

/* Define All H1 CSS */
h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

header {
  width: 100%;
  padding: 15px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

header h4 {
  margin: 0;
  font-size: 22px;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 37px;
  font-weight: normal;
}

header nav ul li a:hover {
  color: var(--light-color);
}

.information #AboutMe {
  align-items: center;
}

#resume {
  padding-left: 50px;
  font-size: 40px;
}

/* second part of portfolio means about me.apply common properties */
.sub-section {
  display: flex;
  height: 100%;
  justify-content: center;
}

/* className information has value about me and information */
.information {
  margin-bottom: 80px;
  margin-right: 40px;
  padding: 10px;
  text-align: justify;
}

/* apply color to about me h2 text */
.information h2 {
  font-size: 30px;
  font-weight: 500;
}

/* appply color to information paragraph */
.information p {
  font-size: 30px;
  font-weight: 300;
}

/*large image of portfolio person */
.headshot-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-left: 100px;
}

.sub-section-alternative h2 {
  text-align: left;
}

/*apply width and border radius to main image */
.headshot {
  width: 300px;
  border-radius: 150px;
}

/* Contact */
#contact-form {
  align-items: center;
}

.contactLabel {
  font-size: 20px;
}

/* apply properties to main large header*/
.hero-area {
  display: flex;
  padding-top: 50px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* apply margin and font peroperties to main sub header */
.hero-text {
  margin-left: 80px;
  margin-bottom: 200pxm;
  font-size: 20px;
}

/* set margin,fonts-ze and wigth to main header pragraph tag */
.hero-text p {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}

/*apply perperties to DOWNLOAD CV button in main header */
.cvbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.cvbutton a {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 250px;
  height: 45px;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

/*apply peroperty when on mouse hover on button */
.cvbutton a:hover {
  color: var(--light-color);
}

/* portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px;
  padding: 30px; */
}

.portfolio h2 {
  padding: 30px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .item {
  width: 350px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid rgb(240, 239, 239);
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  /* transition: all 1s ease; */
  cursor: pointer;
}

.container .item .projectInfo {
  position: absolute;
  font-size: 30px;
  color: black;
}

.container .item .projectInfo .logoProject {
  color: black;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  z-index: 1;
}

.container .item:hover img {
  background-color: var(--dark-color);
  opacity: 0.4;
  z-index: 0;
}

.projectInfo a {
  text-decoration: none;
  color: black;
}

/* Contact */
.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 3px solid #cccccc;
  /* outline: none; */
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 600px;
}

input:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.submit {
  width: 80px;
  height: 30px;
  text-align: center;
  border-radius: 40px;

  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.error-text {
  color: red;
  padding-bottom: 20px;
}
.submit:hover {
  color: var(--light-color);
}
/* resume */

.resumeMainBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumeBody {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
}

.FrontEnd,
.BackEnd {
  align-items: center;
  width: 350px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  /* margin: 30px 0 0 60px; */
}

.article {
  margin: 10px;
  margin-bottom: 1em;
}

.column-title {
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  font-size: 20px;
  padding: 5px;
}

.column-text ul li {
  list-style: none;
}

/* resume end */

footer {
  width: 100%;
  padding: 10px;
  width: 100%;
  z-index: 9999;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer ul h2 {
  font-size: 25px;
  padding-right: 10px;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 30px;
  color: var(--primary-color);
  display: inline-block;
  padding-right: 10px;
}

.logo:hover {
  color: var(--light-color);
}
